{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.pegdown/pegdown  {:mvn/version "1.6.0"}
        commons-codec {:mvn/version "1.4"}
        com.google.guava/guava {:mvn/version "11.0"}
        com.mikesamuel/json-sanitizer {:mvn/version "1.2.1"
                                       :exclusions [com.google.guava/guava
                                                    com.google.code.findbugs/jsr305]}
        com.googlecode.owasp-java-html-sanitizer/owasp-java-html-sanitizer {:mvn/version "20200713.1"
                                                                            :exclusions [commons-codec
                                                                                         com.google.guava/guava
                                                                                         com.google.code.findbugs/jsr305]}}}
